@model IEnumerable<WorkingWithIdentity.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<br />


<a href="Courses/AddComment"><button type="button" class="btn btn-primary">Add a Comment</button></a>
<a href="Courses/ViewMyCourses"><button type="button" class="btn btn-success">View My Courses</button></a>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                Enroll
            </th>
            <th>
                Comments
            </th>
            <th>
                View Enrolled Students
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                <img class="img-thumbnail" style="height:50px" src="~/img/courses/@item.Image" />
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a href="Courses/AddUser?CourseId=@item.Id"><button type="button" class="btn btn-primary">Enroll in this course</button></a>
                </td>
            }
            <td>
                <a href="Comments/ViewComments?CourseId=@item.Id"><button type="button" class="btn btn-primary">View Comments</button></a>
            </td>
            <td>
                <a href="Courses/ViewStudents?CourseId=@item.Id"><button type="button" class="btn btn-primary">View Enrolled Students</button></a>
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
