@model IEnumerable<WorkingWithIdentity.Models.Course>
@{
    Layout = null;
}
@*

    <h2>ViewMyCourses</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CourseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V01</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column1"> @Html.DisplayNameFor(model => model.CourseName)</th>
                                <th class="column2"> @Html.DisplayNameFor(model => model.Image)</th>
                                <th class="column3"> Delete</th>
                                <th class="column4"> Review </th>
                                <th class="column5"> Delete Review </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)

                            {
                            <tr id="Delete">
                                <td class="column1"><a href="Details?id=@item.Id">  @Html.DisplayFor(modelItem => item.CourseName)</a></td>
                                <td class="column2"> <img class="img-thumbnail" style="height:50px" src="~/img/courses/@item.Image" /></td>
                                <td class="column3">  <a href="DeleteCourse?CourseId=@item.Id"><button type="button" class="btn btn-primary">Delete Course</button></a></td>
                                <td class="column4" id="Review">  <a href="AddReview?CourseId=@item.Id"><button type="button" class="btn btn-primary">Rate this Course</button></a></td>
                                <td class="column5" id="DeleteReview">  <a href="DeleteReview?CourseId=@item.Id"><button type="button" class="btn btn-primary">Delete Review</button></a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

   
    @*<script>
        $("#Delete").on("click", function () {
            $(this).remove();
            break;
        });
    </script>*@
  
    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>
</html>